.TeamMemberCard__Container {
  background-color: #ffffff;
  width: 150px;
  height: 150px;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
  transition: all ease 0.2s;
}

.TeamMemberCard__Container:hover {
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px, rgba(0, 0, 0, 0.3) 0 18px 36px -18px;
}

.TeamMemberCard__AvatarContainer {
  border-radius: 50%;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  overflow: hidden;
}

.TeamMemberCard__Name {
  margin-top: 16px;
  font-weight: bold;
  text-align: center;
  /* avoid breaking the container with large strings */
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.TeamMemberCard__JobTitle {
  color: #747474;
  text-align: center;
  /* avoid breaking the container with large strings */
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
